[Unit]
Description=KBot Web Server
After=network.target
[Service]
WorkingDirectory=/home/pi/kbot/kbot-server
Type=forking
User=pi
ExecStart=/home/pi/start-kbot.sh
[Install]
WantedBy=multi-user.target
